@use "../../styles/typography" as font;
@use "../../styles/colors" as color;
@use "../../styles/variables" as var;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color.$purple;
  @include var.flexColumn;
  @include var.flexCenter;

  .close-icon {
    align-self: flex-start;
    margin-top: var.$marginHuge;
    margin-left: var.$marginXL;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;

    .line {
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: color.$darkGray;
      transform-origin: center;
    }

    .line:first-child {
      transform: rotate(45deg);
    }

    .line:last-child {
      transform: rotate(-45deg);
    }
  }

  .modal-content {
    flex: 1;
    padding: var.$paddingHuge var.$paddingXL 0 var.$paddingXL;
    margin-bottom: var.$marginXL;
    max-width: 500px;
    width: 100%;
  }
}
