@use "../../styles/typography" as font;
@use "../../styles/colors" as color;
@use "../../styles/variables" as var;

.signup-page {
  @include var.flexColumn;
  @include var.flexCenter;
  height: 100%;

  button {
    margin-top: var.$marginXL;
    margin-bottom: var.$margin;
  }

  .redirect {
    @include font.fontSizeSmall;

    &__link {
      text-decoration: none;
      color: color.$purple;
      font-weight: 700;
    }
  }
}
