@use "./styles/variables" as var;
@use "./styles/typography";
@use "./styles/colors";

body {
  background-color: #eee;
  scroll-behavior: smooth;

  .App {
    max-width: var.$mobileMaxWidth;
    box-sizing: border-box;
    overflow: hidden;
  }
}
