@use "../../styles/typography" as font;
@use "../../styles/colors" as color;
@use "../../styles/variables" as var;

.user-form {
  @include var.flexColumn;
  @include var.flexCenter;
  gap: var.$gapMd;
  width: 100%;

  &__heading {
    @include font.fontPageHeader;
    color: color.$darkGray;
  }

  &__inputs {
    @include var.flexColumn;
    gap: var.$gapNano;
    width: 100%;
  }
}
