/* Variables */

/*
sizes
- base: 16px;
- superNano: 4px; * 0.25
- nano: 8px; * 0.5
- small: 12px; * 0.75
- $medium: 20px; * 1.25
- large: 24px; * 1.5
- XL: 32px; * 2
- huge: 48px; * 3
*/

$mobileMaxWidth: 480px;

/* Margins & Paddings & Gaps */

$baseline: 16px;

$paddingNano: $baseline * 0.5;
$paddingSm: $baseline * 0.75;
$padding: $baseline;
$paddingMd: $baseline * 1.25;
$paddingLg: $baseline * 1.5;
$paddingXL: $baseline * 2;
$paddingHuge: $baseline * 3;

$marginCenter: 0 auto;
$marginNano: $baseline * 0.5;
$marginSm: $baseline * 0.75;
$margin: $baseline;
$marginMd: $baseline * 1.25;
$marginLg: $baseline * 1.5;
$marginXL: $baseline * 2;
$marginHuge: $baseline * 2.5;

$gapSuperNano: $baseline * 0.25;
$gapNano: $baseline * 0.5;
$gapSm: $baseline * 0.75;
$gap: $baseline;
$gapMd: $baseline * 1.25;
$gapLg: $baseline * 1.5;

/* Radius */

$radiusNano: 2px;
$radiusSm: 4px;
$radiusMd: 6px;
$radiusLg: 8px;
$radiusXL: 10px;
$radiusRound: 999rem;

/* Flex */
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}